---
import Layout from "../layouts/Layout.astro";
import Three from "../components/Three.astro";
import json from "../assets/routes.json";
import { config } from "../assets/config.json";

interface Props {
  slug: string;
  title: string;
  kbdType: string;
  caseType: string;
  leftOptions: configOptionsObj[];
  rightOptions: configOptionsObj[];
  shiftOptions: configOptionsObj[];
}

export async function getStaticPaths() {
  const { routes } = json;
  const pages = routes.map((route) => {
    return {
      slug: route.slug,
      title: route.title,
      kbdType: route.kbdType,
      caseType: route.caseType,
    };
  });
  return pages.map(({ slug, title, kbdType, caseType }) => {
    const { left: leftOptions, right: rightOptions, shift: shiftOptions } = (config as configObj)[kbdType];
    return {
      params: { slug },
      props: { title, kbdType, caseType, leftOptions, rightOptions, shiftOptions },
    };
  });
}
const { title, kbdType, caseType, leftOptions, rightOptions, shiftOptions } = Astro.props;
---

<Layout title={title}>
  <Three type={caseType} keyboard={kbdType} />
  <div class="absolute top-8">
    <p class="">{title}</p>
    <form id="left-options">
      <fieldset>
        <legend>Left Options:</legend>
        {
          leftOptions.map((opt) => (
            <div>
              <input type="radio" id={opt.value} data-type={opt["data-type"]} name="left" value={opt.value} checked={opt.default} />
              <label for={opt.value}>{opt.title}</label>
            </div>
          ))
        }
      </fieldset>
    </form>
    <form id="right-options">
      <fieldset>
        <legend>Right Options:</legend>
        {
          rightOptions.map((opt) => (
            <div>
              <input type="radio" id={opt.value} data-type={opt["data-type"]} name="right" value={opt.value} checked={opt.default} />
              <label for={opt.value}>{opt.title}</label>
            </div>
          ))
        }
      </fieldset>
    </form>
    <>
    {
      kbdType === 'kbo' ? 
      <form id="right-shift">
        <fieldset>
        <legend>Right Shift:</legend>
        {
          shiftOptions.map((opt) => (
            <div>
              <input type="radio" id={opt.value} data-type={opt["data-type"]} name="right" value={opt.value} checked={opt.default} />
              <label for={opt.value}>{opt.title}</label>
            </div>
          ))
        }
      </fieldset></form> 
      : <></>
    }
    </>
  </div>
</Layout>
