---
import Layout from "../layouts/Layout.astro";
import Three from "../components/Three.astro";
import json from "../assets/routes.json";
import { config } from "../assets/configurator/settings.json";
import { options } from "../assets/configurator/options.json";

type ConfigOptionsObj = {
  title: string;
  "data-type": string;
  value: string;
  default: boolean;
};
type ConfigObj = {
  [key: string]: {
    left: ConfigOptionsObj[];
    right: ConfigOptionsObj[];
    shift?: ConfigOptionsObj[];
  };
};
type ConfigOptions = {
  title: string;
  id: string;
  options: ConfigOptionsObj[];
};

interface Props {
  slug: string;
  title: string;
  kbdType: string;
  caseType: string;
  leftOptions: ConfigOptionsObj[];
  rightOptions: ConfigOptionsObj[];
  shiftOptions: ConfigOptionsObj[];
  optionsList: ConfigOptions[];
}

export async function getStaticPaths() {
  const { routes } = json;
  const pages = routes.map((route) => {
    return {
      slug: route.slug,
      title: route.title,
      kbdType: route.kbdType,
      caseType: route.caseType,
    };
  });
  return pages.map(({ slug, title, kbdType, caseType }) => {
    const {
      left: leftOptions,
      right: rightOptions,
      shift: shiftOptions,
    } = (config as ConfigObj)[kbdType];

    const optionsList = [];

    optionsList.push({ ...options.left, options: leftOptions });
    optionsList.push({ ...options.right, options: rightOptions });

    if (kbdType === "kbo") {
      optionsList.push({ ...options.shift, options: shiftOptions });
    }

    if (caseType === "1" || caseType === "3" || caseType === "g") {
      optionsList.push(options.bottom);
    }

    return {
      params: { slug },
      props: {
        title,
        kbdType,
        caseType,
        optionsList,
      },
    };
  });
}
const { title, kbdType, caseType, optionsList } = Astro.props;
---

<Layout title={title}>
  <Three type={caseType} keyboard={kbdType} />
  <div class="absolute bottom-8 w-full space-x-4 text-center">
    {
      optionsList.map((type) => (
        <div class="relative inline-block w-48 text-2xl">
          <select
            id={type.id}
            class="focus:shadow-outline block w-full appearance-none rounded-[6px] border border-gray-400 bg-black px-4 py-4 text-center leading-tight shadow hover:border-gray-500 focus:outline-none"
          >
            {type.options.map((opt) => (
              <option
                data-type={opt["data-type"]}
                value={opt.value}
                selected={opt.default && "selected"}
              >
                {opt.title}
              </option>
            ))}
          </select>
          <label for={type.id}> {type.title}</label>
        </div>
      ))
    }
  </div>
</Layout>
